.map {
    --dark-teal: #1f7a7a;
    --light-teal: #d6f5f5; 
    font-family: "Poppins", serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    &__regions {
        width: 100%;
        border-bottom: 2px solid var(--dark-teal);
    }

    &__region-button {
        margin: 5px;
        background: none;
        background-color: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
        font-family: "Poppins", serif;

        &:hover {
            cursor: pointer;
            background-color: var(--light-teal);
        }

        &--selected {
            background-color: #1f7a7a !important;
            color: white;
        }
    }

    &__capital {
        font-weight: 400;
    }
    }
